/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background-color: white;
    margin: 0 auto;
    font-family: sans-serif, hevetica, Arial;
    box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8), -12px 0 8px -4px rgba(31, 73, 125, 0.8);
}

a {
    text-decoration: none;
    color: #666666;
}

h3 {
    color: #7f7f7f;
}

* {
    box-sizing: border-box;
  }

/* Header - Menu */

#logo {
    float: left;
    font-size: 26px;
    font-weight: bold;
    padding-left: 20px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    
}

.nav {
    height: 70px;
    padding-top: 25px;
    background-color: #fff;
    box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
}

#logo p {
    margin: 0; 
 }

.navmenu {
    float: right;
    padding-right: 20px;
}

.navmenu ul {
    margin: 0;
}

ul {
    padding: 0;
}

li {
    display: inline;
    margin: 0;
    padding-right: 20px;
}

/* HEADER IMAGE */

.head-image {
    margin: 0 auto;
    background-color: tomato;
}

.services {
    padding: 50px;
    text-align: center;
}

.row {
    width: 1300px;
    margin: 0 70px;
}

.column {
    text-align: center;
    float: left;
    width: 20%;
    padding: 0 20px;
    height: 300px;
  }

.column p {
    color: #7f7f7f;
    line-height: 30px;
    
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

h1:after {
    content:' ';
    display:block;
    margin: 0 auto;
    width: 20px;
    border:2px solid #71BC42;
    border-radius:4px;
    
}

.split {
    float: left;
    width: 50%;
    padding: 10px;
    
}

.split img {
    width: 550px;
}

.half:after {
    content: "";
    display: table;
    clear: both;
}

.split h1:after {
  display: none;
}

.split p {
    color: #7f7f7f;
    line-height: 30px;
}


.product {
    text-align: center;
    margin-top: 10px;
    float: left;
    width: 33.33%;
    padding: 10px;
}

.product p {
    color: #7f7f7f;
    line-height: 30px;
    padding: 0 20px;
}

.our-products:after {
    content: "";
    display: table;
    clear: both;
}

.signup {
    padding-top: 25px;
    text-align: center;
    height: 200px;
    background-color: #71bc42;
}

.signup h1 {
    color: white;
}

.signup p {
    color: white;
}

footer {

    height: 100px;
    background-color: #343a40;
}

footer p {

    color: white;
    padding: 25px 0;
    text-align: center;
}